/* =========================
   COMPONENT: Card (phim)
   ========================= */

.card {
  width: 100%;
  margin: 0 auto;
  background-color: var(--color-bg-light);
  border-radius: var(--radius-xl);
  box-shadow: var(--shadow-soft);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: var(--shadow-strong);
}

.card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
